.custom-btn {
    font-size: 20px;
    padding: 0 23px;
    height: 53px;
    cursor: pointer;
    background: var(--tsdraw-color-panel);
    color: var(--tsdraw-color-text);
    border-radius: var(--tsdraw-radius);
    border: none;
    box-shadow: var(--tsdraw-shadow);

    &:active {
        background: var(--tsdraw-color-selected);
        color: var(--tsdraw-color-selected-text);
    }
}